var/cache/*
var/log/*
cache
.idea
.git
README.md
.gitignore
documentation
symfony-application/vendor
symfony-application/var
symfony-application/cache
laravel-application/vendor
laravel-application/storage
laravel-application/cache