var/cache/*
var/log/*
cache
.idea
.git
README.md
.gitignore
documentation
backoffice-service/vendor
backoffice-service/var
backoffice-service/cache
customer-service/vendor
customer-service/storage
customer-service/cache