
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/backoffice-service/config/secrets/prod/prod.decrypt.private.php
/backoffice-service/public/bundles/
/backoffice-service/var/
/backoffice-service/vendor/
###< symfony/framework-bundle ###
cache
.idea
skaffold