
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/symfony-application/config/secrets/prod/prod.decrypt.private.php
/symfony-application/public/bundles/
/symfony-application/var/
/symfony-application/vendor/
###< symfony/framework-bundle ###
cache
.idea
skaffold
composer.lock