version: "3"

services:
  backoffice-app-web-service:
    build:
      context: backoffice-service
    volumes:
      - "$PWD/backoffice-service:/data/app"
    working_dir: "/data/app"
    entrypoint: ""
    command: "sleep 9999"
    networks:
      - default
    environment:
      APP_ENV: "dev"
      APP_DEBUG: "true"
      DATABASE_DSN: pgsql://ecotone:secret@backoffice-app-database:5432/ecotone
      RABBIT_HOST: "rabbitmq"
      RUN_MIGRATION: "true"
      APP_INSTALL_DEPENDENCIES: "yes"
      COMPOSER_HOME: /data/app
      COMPOSE_HTTP_TIMEOUT: 9999
      OTEL_SERVICE_NAME: 'backoffice_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    depends_on:
      - backoffice-app-database
      - rabbitmq
    ports:
      - 3001:80
  backoffice-app-projections:
    build:
      context: backoffice-service
    volumes:
      - "$PWD/backoffice-service:/data/app"
    working_dir: "/data/app"
    user: 1000:1000
    networks:
      - default
    environment:
      APP_ENV: "dev"
      APP_DEBUG: "true"
      COMPOSER_HOME: /data/app
      COMPOSE_HTTP_TIMEOUT: 9999
      DATABASE_DSN: pgsql://ecotone:secret@backoffice-app-database:5432/ecotone
      RABBIT_HOST: "rabbitmq"
      OTEL_SERVICE_NAME: 'backoffice_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    depends_on:
      - backoffice-app-database
      - rabbitmq
    restart: always
    entrypoint: ""
    command: "/data/app/bin/console ecotone:run asynchronous_projections -vvv"
  backoffice-distributed-consumer:
    build:
      context: backoffice-service
    volumes:
      - "$PWD/backoffice-service:/data/app"
    working_dir: "/data/app"
    user: 1000:1000
    networks:
      - default
    environment:
      APP_ENV: "dev"
      APP_DEBUG: "true"
      COMPOSER_HOME: /data/app
      COMPOSE_HTTP_TIMEOUT: 9999
      DATABASE_DSN: pgsql://ecotone:secret@backoffice-app-database:5432/ecotone
      RABBIT_HOST: "rabbitmq"
      OTEL_SERVICE_NAME: 'backoffice_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    depends_on:
      - backoffice-app-database
      - rabbitmq
    restart: always
    entrypoint: ""
    command: "/data/app/bin/console ecotone:run backoffice_service -vvv"
  backoffice-app-database:
    image: postgres:12.1
    networks:
      - default
    ports:
      - "3002:5432"
    environment:
      POSTGRES_USER: "ecotone"
      POSTGRES_PASSWORD: "secret"
  customer-app-web-service:
    build:
      context: customer-service
    volumes:
      - "$PWD/customer-service:/data/app"
    working_dir: "/data/app"
    environment:
      DATABASE_URL: mysql://admin:hash@customer-app-database/customer_app
      APP_INSTALL_DEPENDENCIES: "yes"
      COMPOSER_HOME: /data/app
      COMPOSE_HTTP_TIMEOUT: 9999
      OTEL_SERVICE_NAME: 'customer_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    networks:
      - default
    ports:
      - "3000:80"
    depends_on:
      - customer-app-database
      - mailhog
      - rabbitmq
  customer-distributed-consumer:
    build:
      context: customer-service
    volumes:
      - "$PWD/customer-service:/data/app"
    working_dir: "/data/app"
    environment:
      OTEL_SERVICE_NAME: 'customer_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    networks:
      - default
    restart: always
    entrypoint: ""
    command: "php artisan ecotone:run customer_service -vvv"
    depends_on:
      - customer-app-database
      - mailhog
      - rabbitmq
  customer-notifications-consumer:
    build:
      context: customer-service
    volumes:
      - "$PWD/customer-service:/data/app"
    working_dir: "/data/app"
    environment:
      OTEL_SERVICE_NAME: 'customer_service'
      OTEL_PHP_AUTOLOAD_ENABLED: true
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4317
      OTEL_PROPAGATORS: baggage,tracecontext
    networks:
      - default
    restart: always
    entrypoint: ""
    command: "php artisan ecotone:run notifications -vvv"
    depends_on:
      - customer-app-database
      - mailhog
      - rabbitmq
  customer-app-database:
    image: 'mysql/mysql-server:8.0'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: customer_app
      MYSQL_USER: admin
      MYSQL_PASSWORD: hash
    ports:
      - "3003:3306"
    networks:
      - default
  mailhog:
    image: 'mailhog/mailhog'
    networks:
      - default
    ports:
      - "3004:8025"
  rabbitmq:
    image: rabbitmq:3.8-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - default
    ports:
      - "3005:15672"
  pulse:
    image: ecotoneframework/ecotone-pulse:0.1.0
    working_dir: "/data/app"
    networks:
      - default
    environment:
      SERVICES: '[{"name":"customer_service","databaseDsn":"mysql://admin:hash@customer-app-database/customer_app"},{"name":"backoffice_service","databaseDsn":"pgsql://ecotone:secret@backoffice-app-database:5432/ecotone"}]'
      AMQP_DSN: "amqp://guest:guest@rabbitmq:5672//"
    ports:
      - 3006:80
  jaeger:
    image: jaegertracing/all-in-one:latest
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    networks:
      - default
    ports:
      - 3007:16686