
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env
symfony.lock
compose.yaml
compose.override.yaml
src/*/.gitignore
###< symfony/framework-bundle ###
